<%- include('components/header', { preview: 'Congratulations! You won a free token!' }) %>

<p>Congratulations!<br>You won a free token!</p>

<p>Thanks,<br>
<%= data.signature %></p>

<%- include('components/footer') %>